@model AirHelp.Models.VMClaim

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        .main {
            width: 21cm;
            display: grid;
            grid-template-columns: 52% 48%;
            grid-auto-rows: auto;
            padding-bottom: 50px;
        }

        .hedar {
            font-size: 14px;
            text-align: center;
            font-weight: 700;
        }

        .left, .rigth {
            padding: 0 8px;
        }

        .left {
            border-right: solid 1px rgba(55, 55, 55, 1);
        }

        .content {
            text-align: justify;
        }

        .signiture {
            margin: 40px 0 0 0;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .span-2 {
            margin: 0 230px 0 auto;
        }

        .div-1 {
            padding: 0 10px;
            display: flex;
            align-items: stretch;
        }

        .div-3 {
            padding: 0 10px;
        }

        .span-3 {
            float: right;
            margin: 5px 75px 0 0;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="left">
            <p class="hedar"> ПЪЛНОМОЩНО <p>
            <p class="content">
                Долуподписаният/ата,
                @Model.FirstName @Model.LastName  , с
                адрес @Model.City, @Model.Adress,
                като пътник на (въздушен транспорт) полет № @Model.FlightNumber
                с планирано разписание: излитане на  @Model.Date г. от
                летище @Model.DepartureAirport, на летище @Model.DestinationAirports ,
                извършван от въздушния превозвач
                @Model.AirCompany, с номер на резервация (бордова
                карта) @Model.BookCode, като ВЪЗЛАГАМ и
            </p>
            <p class="hedar"> УПЪЛНОМОЩАВАМ <p>
            <p class="content">
                "Коеф" ЕООД, вписано в Търговския регистър
                под ЕИК 666666666, със седалище и адрес на управление:
                Република България, гр. В. Търново, ул. "В. левски" №22, представлявано от управителя адвокат Коеф,
                <b>за следното: </b>
            </p>
            <p class="content">
                Да ме представлява пред горепосочения въздушен
                превозвач, трети лица и организации, както и пред
                съответния Национален орган за прилагане срещу
                извършени от въздушния превозвач нарушения, във връзка с
                получаване на дължащото ми се обезщетение по Регламент
                ЕО 261/2004 на Европейския парламент и на Съвета и
                свързани с това вземания относно посочения по-горе полет,
                като извършва от мое име всички необходими правни и
                фактически действия, включително: предявява
                извънсъдебни претенции; изготвя, подписва, подава и
                получава всякакви документи; заявява и декларира всякакви
                данни и обстоятелства; преупълномощава с всички или част
                от правата.
            </p>
            <p class="content">
                "Коеф" ЕООД има право да извършва действия
                по събирането и фактическото получаване на сумите,
                изплатени от горепосочения въздушен превозвач,
                независимо дали същите се изплащат доброволно или по
                изпълнително дело, представляващи обезщетения и/или
                разноски по граждански/търговски/изпълнителни дела, по
                сметка на дружеството (включително по банкова сметка
                IBAN: 6666666666666666665, BIC CODE:
                ******, “Банка *****” АД с титуляр
                "Коеф" ЕООД).
            </p>
            <p class="content">
                "Коеф" ЕООД има право да ме представлява пред
                съд (всички съдебни инстанции) като завежда дела (искова
                молба / заявление за издаване на заповед за изпълнение),
                води (частни) граждански/търговски дела във всички
                инстанции до приключване на делата, извършва всички
                съдопроизводствени действия, включително получава
                депозирани разноски, сключва спогодби (съдебни и
                извънсъдебни), намалява, оттегля или прави отказ от иск,
                признава исканията на другата страна, както и да извършва
                действия, представляващи разпореждане с предмета на
                делото, както и представителство по изпълнителни дела,
                съответно да преупълномощава трети лица (адвокати) с
                дадените права и сключва с тях договори за правна помощ и
                съдействие от мое име.
            </p>
            <p class="content">
                Заявявам, че: съм запознат/та, приемам и са ми предадени
                Общите условия на "Коеф" ЕООД; съгласен/на
                съм предоставените мои лични данни да се съхраняват,
                използват и бъдат обработвани във връзка с горепосочените
                възложени дейности.
            </p>

        </div>
        <div class="rigth">
            <p class="hedar">POWER OF ATTORNEY</p>
            <p class="content">
                I, the undersigned @Model.FirstName @Model.LastName, residing
                at @Model.City, @Model.Adress, as an (air)
                passenger of flight No @Model.FlightNumber scheduled to: take off on
                @Model.Date from @Model.DepartureAirport airport, land at @Model.DestinationAirports airport,
                performed by the air carrier @Model.AirCompany,
                booking (boarding pass) number @Model.BookCode,
                ASSIGNING and
            </p>
            <p class="hedar"> AUTHORIZING </p>
            <p class="content">
                Koef EOOD, registered in the Trade Register under
                UIN 66666666, seat and registered address: Republic of
                Bulgaria, V. Turnovo taun, 12 V. levski, represented by the loyer Koef, <b>
                    as follows:
                </b>
            <p class="content">
                To represent me before the aforementioned air carrier, third
                parties and organizations, as well as before the respective
                National designated body on account of infringements
                committed by the air carrier in connection with obtaining the
                compensation I am entitled to pursuant to Regulation (EC) No
                261/2004 of the European Parliament and of the Council and
                any receivables pertaining thereto with respect to the said flight
                and to execute on my behalf all requisite legal and factual
                actions, including: bring out-of-court claims; prepare, sign, file
                and receive any documents; state and declare any information
                and particulars; sub-delegate all or part of the powers
                hereunder.
            </p>
            <p class="content">
                Koef EOOD shall have the power to execute actions
                on the collection and factual receipt of the amounts paid by the
                said air carrier, irrespective of whether such amounts have been
                paid voluntarily or under a writ of execution, representing
                compensations and/or costs on civil/commercial/enforcement
                lawsuits, to the account of the company (including to bank
                account IBAN: 666666666666666666666, BIC CODE:
                *******, Banck Banck, account holder
                koef EOOD).
            </p>
            <p class="content">
                koef EOOD shall have the right to represent me
                before a court of law (courts of all instances) by filing lawsuits
                (statement of claim/ application for writ of execution), pursue
                (private) civil/commercial legal actions at all instances until
                adjudication, execute all legal procedure actions, including to
                receive deposited costs, enter into settlements (court and outof-court,
                reduce, withdraw or cancel claims, recognize claims
                of the opposing party, as well as to execute actions constituting
                disposition with the subject matter of the case, as well as to act
                as representative in enforcement lawsuits and to sub-delegate
                the powers given hereunder to third parties (lawyers),
                respectively, and to enter into legal assistance agreements with
                them on my behalf.
            </p>
            <p class="content">
                I state and represent as follows: I have read and I have been
                provided with Koef EOOD General Terms and
                Conditions; I give my consent for my personal data to be stored,
                used and processed in connection with the aforementioned
                assigned activities.
            </p>

        </div>

        <div class="signiture">
            <div class="div-1">
                <div class="span-1">
                    <span><b>Дата/Date: @Model.DateCreated.ToString("dd.MM.yyyy") </b></span>
                </div>
                <div class="span-2">
                    <span><b>Упълномощител / Principal:</b>&nbsp;</span><div style="display: inline-block; position:absolute"> <img src="@Model.SignitureImage" style="margin: -70px 0 0 10px; width: 200px; height:150px;" /> </div>
                </div>

            </div>
            @*<div class="div-3">

                <div>
                    <span class="span-3">(подпис/signature)</span>
                </div>
            </div>*@

        </div>

    </div>
</body>
</html>
