<div class="data-content">
    <div class="info-page">

        <h1>Общи условия за ползване</h1>
        <p>
            Настоящите Общи условия уреждат условията, при които @ViewBag.company предоставя информацията, софтуера и услугите си, посредством Интернет сайта @ViewBag.siteName
            (наричани по-долу "Услугите"). Услугите са допустими  само и единствено при приемане на настоящите Общи условия,както и правила и клаузи,
            описани в тях.
        </p>

        <h2>Определения</h2>

        <p>
            "Регламент (ЕО) 261/2004": Регламент (ЕО) 261/2004 на ЕО относно създаване на общи правила за обезщетяване и помощ на пътниците
            при отказан достъп на борда и отмяна или голямо закъснение на полети.
        </p>

        <p>"Авиокомпания": Превозвачът, извършващ въздушния превоз на пътници.</p>

        <p>@ViewBag.company „притежава  регистрация - България @ViewBag.address.</p>

        <p>    „Споразумение“:Споразумение между @ViewBag.company и Клиента, относно  настоящите Общи условия. </p>

        <p> "Претенция": Това е предявен иск срещу Превозвача, за получаване на парично обезщетение от пътник, позовавайки се на Регламент (ЕО) 261/2004.</p>

        <p>
            "Клиент": Всяко физическо или юридическо лице, негов/неин представител/и/ и/или наследник/ци/, предявяващи претенцията чрез пълномощно и при 
            приемане на Общите условия на @ViewBag.company, да бъдат представлявани от @ViewBag.company пред  авиокомпанията превозвач.
        </p>
        <p>
            "Пълномощно": Документ, с който клиентът предоставя права на @ViewBag.company за извършване на необходимите правни действия от негово име.
        </p>
        <p>
            "Иск" e всяко извънсъдебно или съдебно искане за обезщетение на пътник, отправено срещу авиокомпанията превозвач позовавайки се на Регламент (ЕО) 261/2004.
        </p>
        <p>
            "Калкулатор на обезщетение" e автоматична система, чрез която всеки потребител  може да провери възможността за получаване на обезщетение, да изчисли  размера му на база въведените  данни.
        </p>

        <h2>Общи условия</h2>
        <p>
            Тези Общи условия се прилагат към всяко едно споразумение между @ViewBag.company  и клиента.
        </p>
        <p>
            @ViewBag.company  си запазва правото си да извършва промени по настоящите Общи условия.
        </p>
        <p>
            При изпълнението на споразумението и при условие, че @ViewBag.company  използва  трета/и/ страна/и/,
            настоящите Общи условия се прилагат задължително и за тези трети страни.
        </p>

        <h2>Договор и процедури</h2>

        <p>
            @ViewBag.company  извършва извънсъдебни и или съдебни действия, от името и в полза на клиента с цел постигане на успешно събиране
            и получаване на дължимото парично обезщетение
        <p>
            С попълването и подаването на информацията на сайта,приемайки общите условия, клиентът упълномощава @ViewBag.company
            да предприеме от негово име действия по искане за обезщетение, срещу определен въздушен превозвач, във връзка със закъснение,
            отмяна на полет или отказан достъп на борда.
        </p>
        <p>
            След регистрацията на сайта на @ViewBag.company автоматично се генерира пълномощно и договор, които трябва да бъдат подписани електронно или
            разпечатани и подписани без нотариална заверка от клиента. Чрез Пълномощното клиентът дава права на @ViewBag.company  да го представлява и
            да извършва необходимите действия от негово име за събирането на обезщетението.
        </p>
        <p>
            Декларацията за поверителност е част от споразумението между клиента и @ViewBag.company
        </p>
        <p>
            Договора е валиден само в случай, че бъде потвърден от @ViewBag.company в писмена форма или чрез електронна поща
        </p>
        <p>
            Сключвайки договор с @ViewBag.company  клиентът декларира, че няма да предявява претенция лично към съответния въздушен превозвач
            във връзка със закъснението и/ или отмяната на полет или отказан достъп на борда, нито да упълномощава трета/и страна за това,
            без предварителното писмено съгласие от страна на @ViewBag.company
        </p>
        <p>
            Договора и предоставените документи се съхраняват в @ViewBag.company  и само @ViewBag.company  има достъп до тях
        </p>
        <p>
            @ViewBag.company  има право да откаже да поеме случай, за който клиентът е отправил предложение за сключване на договор
        </p>

        <h2>Услуги</h2>
        <p>
            Обезщетението на клиента се събира чрез извънсъдебни действия или чрез предприети съдебни действия,
            чрез съдебен процес срещу авиокомпанията превозвач пред компетентния съд
        </p>
        <p>
            В съдебния процес ще бъде включен адвокат, с правомощия да осъществява дейност на територията на страната членка на ЕС,
            където е подсъден съдебният иск.
        </p>
        <p>
            Клиента ще бъде уведомен предварително по електронна поща за намеренията на @ViewBag.company  за стартиране на съдебни действия.
            Ако той откаже да бъдат предприети такива действия, споразумението се прекратява, считано от момента на подадения писмен отказ.
        </p>
        <p>
            При започване на съдебна процедура, извършена от @ViewBag.company , възникналите разходи в хода на процеса се покриват изцяло от @ViewBag.company.
            Ако съдебното производство бъде спечелено, тези разходи ще бъдат възстановени на @ViewBag.company,
            чрез приспадането им при извършено плащане от страна на авиокомпанията- длъжник.
        </p>
        <p>
            Ако клиентът получи обезщетението директно от авиокомпанията превозвач, по време или след извънсъдебните, или съдебните действия,
            започнати от @ViewBag.company ,клиентът е длъжен да уведоми  @ViewBag.company, да предостави доказателства за
            полученото  плащане и да изплати на @ViewBag.company  в срок от 7\седем\ дни от получаване на обезщетението договореното и  дължимо възнаграждение,
            разноски и лихви
        </p>

        <h2>Възнаграждение</h2>
        <p>
            @ViewBag.company получава възнаграждение само при успешно събрано обезщетение за клиента. За успешно събиране се считат и случаите,
            в които авиокомпанията е изплатила обезщетението директно на клиента, след като @ViewBag.company е отправил искане по съдебен или
            извънсъдебен начин към нея.
        </p>
        <p>
            При случай на неуспех,клиентът не е задължен да заплаща услугите на @ViewBag.company ,нито направените съдебни такси и разноски по делото.
        </p>
        <p>
            Размерът на възнаграждението е 25 % (двадесет и пет процента) от сумата на обезщетението
        </p>
        <p>
            В случай, че спорът бъде разрешен по съдебен ред и ако според решението на съда клиентът получи само част от претендираното обезщетение,
            @ViewBag.company удържа възнаграждение в размер на 25%(двадесет и пет процента) само от съдебно присъдената сума.
        </p>
        <p>
            В случай, че Клиентът се съгласи на алтернативно непарично обезщетение той е длъжен да заплати на @ViewBag.company
            дължимото възнаграждение в размер на 25%(двадесет и пет процента)  върху първоначалното обезщетение
        </p>
        <p>
            Веднага след получаване на сумата на обезщетението от авиокомпанията @ViewBag.company приспада възнаграждението и в най-кратки срокове
            изплаща останалата част от обезщетението към клиента.Банковите и други такси по превода се поемат от клиента.
        </p>

        <h2>Права и задължения на клиента</h2>
        <p>
            Клиентът има възможност и право да отправя искане за обезщетение чрез сайта и предложение за сключване на договор и
            съдействие от страна на @ViewBag.company.
        </p>
        <p>
            Клиентът има право да се информира за състоянието на своята претенция за обезщетение,
            чрез профила си на сайта или чрез предоставените контакти
        </p>
        <p>
            Клиентът има право да изисква и получава информация от @ViewBag.company за състоянието на своята претенция,
            нейното движение и/или да получава копия на предоставените от него документи
        </p>
        <p>
            Клиентът се задължава да оказва съдействие за успешното провеждане на процедурата по събирането на обезщетението,
            като предоставя нужната информация, документи и доказателства ( бордна карта, резервация, документ за самоличност и др).
        </p>
        <p>
            Ако клиентът желае  паричното обезщетение да му бъде преведено по друг начин/не по банков път/,
            той следва да уведоми @ViewBag.company по имейл.
        </p>
        <p>
            След приемането на настоящите общи условия и възлагане на @ViewBag.company за събиране на обезщетението,
            клиентът се задължава да не се свързва с други фирми, агенти или адвокати, предоставящи подобни услуги.
        </p>
        <p>
            Всеки клиент,сключил договор с @ViewBag.company има право да се откаже от него в рамките на 14 дни след сключването му.
            Прекратяването му се извършва в писмена форма или чрез имейл до @ViewBag.company
        </p>
        <p>
            Клиентът не може да се откаже от сключения договор след уважена претенция от авиокомпанията-длъжник,
            и @ViewBag.company е довел процедурата до успешен край
        </p>

        <h2>Права и задължения на @ViewBag.company</h2>
        <p>
            @ViewBag.company има право да откаже да поеме иск и да предостави услугите си на клиент, отправил предложение за възлагане.
        </p>
        <p>
            Общите условия могат да бъдат променяни по всяко време от @ViewBag.company.
        </p>
        <p>
            @ViewBag.company се задължава да уведоми клиента за промените в общите условия.
        </p>
        <p>
            @ViewBag.company си запазва правото по всяко време да прекратява или ограничава достъпа до сайта и  услуги си поради технически или други причини
        </p>

        <h2>Неустойки</h2>
        <p>
            Ако длъжникът плати финансова компенсация директно на клиента и клиента не изплати на @ViewBag.company дължимото възнаграждение
            в срок от 7\седем\ дни от получаването му,клиента дължи на @ViewBag.company възнаграждението от 25 % (двадесет и пет процента)
            ведно с 5% от размера на обещетението.
        </p>

        <h2>Приложимо законодателство</h2>
        <p>
            Общите условия са изготвени съгласно българското законодателство и ще бъдат регулирани от компетентния български съд.
        </p>

    </div>
</div>



